<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="UTF-8">
    <title>TechYes!</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
</head>

<body ng-controller="ctrl as main">
<div class="container-fluid">
    <div class="row heading visible-sm visible-md visible-lg">
        <div class="pull-left">
	{{main.headtitle}}
        </div>
    </div>
    <div class="row heading visible-xs">
        <div class="pull-left">
	What is this?
        </div>
    </div>

    <div class="row" style="display: flex; max-height: 100%; min-height: 100%;">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 section-contact">
            <div class="info-contact">
                <div class="row" ng-repeat="misfit in main.misfits">
                    <div class="beer-notes">@{{misfit.fields["Slackr"]}}</div>
                </div>
                <div class="row" ng-repeat="mission in main.missions">
                    <div class="beer-notes">@{{mission.fields["Slackr"]}}</div>
                </div>
                <!--<div class="row" ng-repeat="i in main.beermenu">-->
                <!--<div class="col-xs-6 col-sm-6 col-md-6">{{i.item}}</div>-->
                <!--<div class="col-xs-6 col-sm-6 col-md-6">{{i.alc}}</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <div class="row" style="display:none;">
        <div ng-repeat="finditem in main.findus" class="col-xs-12 col-md-6 col-sm-6 col-lg-6 findus">
            <div ng-if="finditem.fields['Show'] == true">
                <div class="findusname">{{finditem.fields["Name"]}}</div>
                <div class="shortloc">{{finditem.fields["When"]}}</div>
            </div>
        </div>
    </div>
</div>

<!-- Scripts here -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="app.js"></script>

</body>

</html>
