<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="UTF-8">
    <title>TechYes!</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
</head>

<body ng-controller="ctrl as main">
<div class="container-fluid">
    <div class="row heading visible-sm visible-md visible-lg">
        <div class="pull-left">
            {{main.headtitle}}
        </div>
    </div>

    <div class="row" style="display: flex; max-height: 100%; min-height: 100%;">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1>Misfits</h1>
            <div class="row">
                <div ng-repeat="misfit in main.misfits" class="col-md-4">@{{misfit.name}}</div>
            </div>
            <h1>Missions</h1>
            <div class="row" ng-repeat="mission in main.missions">
                <div class="col-md-4">{{mission.name}}</div>
                <div class="col-md-4">{{mission.when}}</div>
                <span class="col-md-4">
                    Yes: <span ng-repeat="yes in mission.yes">{{yes}}
                </span>
                <span class="col-md-4">
                    No: <span ng-repeat="no in mission.no">{{no}}
                </span>
                <span class="col-md-4">
                    YeahNo: <span ng-repeat="yeahno in mission.yeahno">{{yeahno}}
                </span>
            </div>
            <div>{{main.mission_misfits}}</div>
        </div>
    </div>
</div>

<!-- Scripts here -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/angular-moment/angular-moment.min.js"></script>
<script src="app.js"></script>

</body>

</html>
